@font-face {
    font-family: 'Roboto';

    src: url('../fonts/Roboto-Medium.ttf');
}
.label-spec {
    background-color: #232323;
    font-family: 'Roboto', serif;

}
.label-spec[href]:hover,
.label-spec[href]:focus {
    background-color: #232323;
}

.spec-info > h2
{
    color:white;
    font-family: 'Roboto', serif;
}

.spec {
    font-size:2em;
}




#logo
{
    background:#ffffff;

}

#logo:hover
{
    background:#26e468;
    transition: background 0.25s linear;
}

#content

{
    padding-top:20px;
position:relative;
}

body
{
    background:#535353;
}

#footer
{
    color:white;
    height:60px;
    position:absolute;
    width:100%;
    bottom:0;
    background:#383838;

}

.prof
{
    height:125px;
}
.prof:hover
{
  cursor:pointer;
}


