@font-face {
    font-family: 'Roboto';

    src: url('../fonts/Roboto-Medium.ttf');
}
.label-spec {
    background-color: #232323;
    font-family: 'Roboto', serif;

}
.label-spec[href]:hover,
.label-spec[href]:focus {
    background-color: #232323;
}

.spec-info > h2
{
    color:white;
    font-family: 'Roboto', serif;
}

.spec {
    font-size:2em;
}


#main-header
{
    border-bottom:none;
    background:#383838;
    margin-bottom:40px;
}

#logo
{
    background:#ffffff;
    height:50px;
    margin-top:0;
}

.navbar-brand
{
    position:absolute;
    left:0;
    padding-top:0px;
    padding-bottom:0px;
}

#logo:hover
{
    background:#26e468;
    transition: background 0.25s linear;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    color:white;
    background:#555555;
}

.navbar-default .navbar-nav > li > a
{
    color:white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color:#26e468;s
    transition: color 0.25s linear;
}




#content
{
    position:relative;
    top:40px;
    padding-top:20px;
    position:relative;
}

body
{
    background:#535353;
}

#footer
{
    color:white;
    height:60px;
    position:absolute;
    width:100%;
    bottom:0;
    background:#383838;

}

.prof
{
    height:125px;
}
.prof:hover
{
  cursor:pointer;
}

.fac_list{
    line-height: 150px;
}