.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar {
    margin-bottom: 0;
}

.slide-content{
    color:white;
    margin-top:25%;
}

.slide-wrapper {
    margin-top:8%;
}

.slide-image img{

}